<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>Everything But Apples!</title>
	</head>
	<body class="full-page">
		{{{ body }}}
        <footer>
            {{!-- the logo in the lower right --}}
            <div class="logo"></div>
        </footer>
	</body>
</html>
