{{!-- object passed to render should contain the room code (room-code) and the number of rounds (number-of-rounds) --}}
<main>
    <div class="host-room-code">
        <p>Your room code:</p>
        <p>{{this.room-code}}</p>
    </div>
    <div class="host-lobby-display">
        <div class="lobby-connections-display">
            {{!-- this section might take some shuffling around depending on how we display the current connected players --}}
            <div class="last-connection-display"></div>
                <p><span id="last-player-connected">No one</span> has connected!</p>
            </div>
            <div class="player-connections">
                <p>Players connected:</p>
                {{!-- this section is probably manipulated by jquery, not handlebars, since it needs to be updated with a listener of some sort --}}
                {{!-- I'm thinking we do it with socket/jquery.  When player connected we add a new card here --}}
            </div>
            <button id="start-game-button">Start Game</button>
        </div>
    </div>
    <div class="rounds display">
        <p>This game will last {{this.number-of-rounds}} rounds.</p>
    </div>
</main>