{{!-- object passed to render should contain the adjective for the card of the round (adjective-card) and the number of the round (round-number) --}}
<main>
    <div class="host-card-adj">
        {{this.adjective-card}}
    </div>
    <div class="host-played-cards">
        <div class="host-round-indicator">
            <p>ROUND {{this.round-number}}</p>
        </div>
        {{!-- this section is probably manipulated by jquery, not handlebars, since it needs to be updated with a listener of some sort --}}
    </div>
</main>