{{!-- nothing needs to be passed to this --}}
<main>
    <div class="waiting-bubble">
        {{!-- I'm assuming this gets styled as an actual circle, that we maybe have expand and contract slowly for a little "loading-screen" esque motion if we have time
         --}}
        <p>Waiting for opponents...</p>
    </div>
    <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
            <label for="player-name-form">Please tell us what name you want to go by:</label>
            <input type="text" id="player-name-form" name="player-name">
        </div>

        <button type="submit">Submit</button>
        {{!-- we should probs preventDefault on this --}}
    </form>
</main>