{{!-- pass a list of cards (cards) to this handlebar --}}
<header>
    {{!-- consider: fix header to top of screen so this prompt is always visible even while players are scrolling through cards --}}
    <h1>What card would you like to play?</h1>
</header>
<main>
    <ul class="player-hand">
        {{#each cards}}
            <li class="player-hand-card">
                <h2>Noun</h2>
                <p>Description</p>
            </li>
        {{/each}}
    </ul>
</main>