.adj-card {
    display: block;
    width: var(--card-width);
    height: var(--card-width);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 5px solid #f7b733;
    margin:auto;
    background-color: white;
    color: #4abdac;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow:column;
    text-align: center;
    padding: 25px;
    box-shadow: inset 0 0 0 10px var(--new-card-orange);
}

.host-absoluteBottom {
    position: absolute;
    width: 100%;
    height: 300px;
    border-top: 1px solid #D3D3D3;
    text-align: center;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    /* top: 325px; */
    left: 0px;
}

.host-display {
    display: block;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 2px;
    margin: 0em 1em;
    padding: .75em;
    color: white;
}

.host-display * {
    margin: auto;
}

.host-header {
    display: flex;
    align-items: center;
    padding-bottom: var(--content-border-width);
    color: white;
}

.host-topside {
    display: block;
}

.judging-message{
    margin-top: .5em;
}

.played-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* https://jsfiddle.net/james2doyle/qsQun/ */

.played-card {
    width: var(--card-width);
    min-height: var(--card-width);
    margin:1em;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.played-card div {
    display: block;
    min-height: var(--card-width);
    width: var(--card-width);
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
}
.played-card .card-front {
  /* background: red; */
  width: var(--card-width);
  min-height: var(--card-width);
  background-image: url("https://farm5.staticflickr.com/4359/36609034781_96e88f2b8f.jpg");
  background-size: 100% 100%;
  border: 1px solid black;
}
.played-card .card-back {
    width: var(--card-width);
    min-height: var(--card-width);
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow:column;
    text-align: center;
    border: 1px solid #f7b733;
    margin:auto;
    background-color: white;
    color: #4abdac;
    transform: rotateY( 180deg );
}
.played-card.flipped {
    transform: rotateY( 180deg );
}

.player-circle{
    border: 3px solid #f7b733;
    border-radius: 4em;
    padding: .5em;
    font-size: 1.5em;
    margin: 1em;
    min-width: 10em;
    max-width: 20em;
    background-color: white;
    color: #fc4a1a;
}

.player-connections-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.room-code{
    border: 0px;
    padding: .5em;
    margin: 2em 25% 1em 25%;
    font-size: 2em;
    color: #fc4a1a;
    background-color: white;
}

.scores-list {
    list-style: none;
}

/* .start-game-button {
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.420);
    margin: 1.5em auto;
    border-radius: 5px;
    border: 0px
}

.start-game-button:active {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.420);
  transform: translateY(3px);
} */