@import "imports/colors.css";
@import "imports/host-style.css";

* {
    box-sizing: border-box;
}


.circle {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
    background-color:black;

} 

.btn {
    margin:auto;
    margin-top: 25px;

    border:  1px solid red;
    display:block;
    height: 100px;
    width: 100px;
    /* background: #0087cc; */
    border-radius: 50%;
    box-shadow: 0 5px 0 black;
    /* color: #fff; */
    cursor: pointer;
    font: inherit;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.btn:active {
    box-shadow: 0 2px 0 black;
    transform: translateY(3px);
}

.buttonContain {
    display: flex;
}

.card {
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border: 1px solid black;
    margin:auto;
}

.container {
    margin-top:75px;
    display:flex;
    flex-flow:column;
    justify-content: center;
}

.cardContainer {
    margin-top:25px;
    display:flex;
    flex-flow:column;
    justify-content: center;
}

.circleWord{
    z-index: 5;
    color: white;
    padding-top: 25px;
    padding-left: 8px;
}


.hide{
    display:none;
}

.header {
    text-align: center;
    display: flex;
}

.header h1 {
    margin: auto;
}

.logo {
    width:100px;
    margin:auto;
}

.submit {
    margin-top:25px;
}

.waiting-bubble {
    margin:auto;
    margin-top: 25px;
}