@import "imports/reset.css";
@import "imports/colors.css";
@import "imports/width-vars.css";
@import "imports/host-style.css";

* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color:var(--new-main-cream);
}

.absolute {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.absoluteTop {
    display: flex;
}

.absoluteBottom {
    position: absolute;
    width: 100%;
    height: 300px;
    border-top: 1px solid #D3D3D3;
    text-align: center;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    top: 325px;
    left: 0px;
}

/* .btn {
    margin:auto;
    margin-top: 25px;

    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 0 black;
    cursor: pointer;
    font: inherit;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.btn:active {
    box-shadow: 0 2px 0 black;
    transform: translateY(3px);
} */

.btn {
    height: 100%;
    width: 45%;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 2em;
    /* line-height: 1.2; */
    text-align: center;
    background-color: purple;
    cursor: pointer;
    border: .1em solid transparent;
    user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #AE37B2;
    text-decoration: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.buttonContain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
}

.card {
    width: var(--card-width);
    min-height: var(--card-width);
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border: 1px solid black;
    margin:auto;
}

.cardContainer {
    margin-top:25px;
    display:flex;
    flex-flow:column;
    justify-content: center;
}

.code {
    margin-top: 10em; 
}


.container {
    margin-top:25px;
    display:flex;
    flex-flow:column;
    justify-content: center;
}

.copyright {
    position: fixed;    
    width: 300px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .75em;
}

.createCards {
    width:300px;
    margin:auto;
}

.circle {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: var(--new-opp-purple);
}

.circleWord{
    z-index: 5;
    color: white;
    padding: 25px;
}

.favorite {
    margin: auto;
    width: 70px;
}

.roomForm {
    width: 300px;
    margin: auto;
}

.header {
    text-align: center;
    display: flex;
}

.header h1 {
    margin: auto;
    font-size: 2em;
}

.landing-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10em;
    margin-top: 3em;
}

.pregame {
    font-size: 1.5em;
}

.player-hand-card {
    background-color: white;
}

.player-topBumper {
    margin-top:25px
}

.nounTitleText {
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: bold;
}

.spinner {
    width: 100px;
    height: 100px;
    background-color: purple;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 5.2s infinite ease-in-out;
    animation: sk-rotateplane 5.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

.spinnerText {
    text-align: center;
}

.submit {
    /* margin-top:25px; */
    width: 60px;
    height: 2em;
}

.roomFromSubmit {
    margin-top: 25px;
}

.waiting-bubble {
    margin:auto;
    margin-top: 25px;
}